{
  "openapi": "3.1.0",
  "info": {
    "title": "Nexus Exchange API",
    "description": "Perpetual futures exchange with HMAC API key authentication, tiered rate limiting, and real-time WebSocket streaming across 32 markets.",
    "version": "0.6.0"
  },
  "servers": [
    {
      "url": "https://exchange.nexus.xyz/api/exchange",
      "description": "Production"
    },
    {
      "url": "http://localhost:9090",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "EVM wallet sign-in and API key management"
    },
    {
      "name": "Agents",
      "description": "Agent key registration and management (EIP-712 signed, no session token required)"
    },
    {
      "name": "Markets",
      "description": "Market parameters and summaries"
    },
    {
      "name": "Tickers",
      "description": "24h price statistics",
      "x-ccxt": true
    },
    {
      "name": "Order Book",
      "description": "Live order book depth",
      "x-ccxt": true
    },
    {
      "name": "Trades",
      "description": "Recent trade history",
      "x-ccxt": true
    },
    {
      "name": "Candles",
      "description": "OHLCV candlestick data",
      "x-ccxt": true
    },
    {
      "name": "Funding",
      "description": "Funding rate history"
    },
    {
      "name": "Trading",
      "description": "Order submission and cancellation"
    },
    {
      "name": "Account",
      "description": "Balance and order management"
    },
    {
      "name": "Positions",
      "description": "Open position queries"
    },
    {
      "name": "WebSocket",
      "description": "Real-time streaming via short-lived tokens"
    },
    {
      "name": "Admin",
      "description": "Tier management (requires ADMIN_SECRET)"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "operationId": "login",
        "tags": [
          "Authentication"
        ],
        "summary": "Sign in with EVM wallet",
        "description": "Submit an EIP-191 personal_sign signature to receive a session token. The session token is used to create and manage API keys via /keys endpoints. For trading, use HMAC API keys instead. Session tokens expire after 24 hours.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              },
              "example": {
                "message": "Sign in to Nexus Exchange",
                "signature": "0x1234...abcd"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                },
                "example": {
                  "token": "a1b2c3d4e5f6...",
                  "address": "0xAbCdEf0123456789..."
                }
              }
            }
          },
          "401": {
            "description": "Signature verification failed"
          }
        }
      }
    },
    "/keys": {
      "post": {
        "operationId": "createApiKey",
        "tags": [
          "Authentication"
        ],
        "summary": "Create an API key",
        "description": "Create a new HMAC API key for the authenticated wallet. Returns the secret once — it is never stored or shown again. Requires a session token (Bearer) from POST /auth/login.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Key created",
            "content": {
              "application/json": {
                "example": {
                  "key_id": "nx_a1b2c3d4e5f67890",
                  "secret": "deadbeef..."
                }
              }
            }
          },
          "401": {
            "description": "Valid session token required"
          }
        }
      },
      "get": {
        "operationId": "listApiKeys",
        "tags": [
          "Authentication"
        ],
        "summary": "List your API keys",
        "description": "Returns key IDs and tiers for all keys owned by the authenticated wallet. Secrets are not included.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The session's API keys.",
            "content": {
              "application/json": {
                "example": [
                  {
                    "key_id": "nx_a1b2c3d4e5f67890",
                    "tier": "Pro"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Valid session token required"
          }
        }
      }
    },
    "/keys/{key_id}": {
      "delete": {
        "operationId": "deleteApiKey",
        "tags": [
          "Authentication"
        ],
        "summary": "Delete an API key",
        "description": "Delete a key you own. Cannot delete keys owned by other wallets.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key deleted"
          },
          "401": {
            "description": "Valid session token required"
          },
          "404": {
            "description": "Key not found or not owned by you"
          }
        }
      }
    },
    "/agents/register": {
      "post": {
        "operationId": "registerAgent",
        "tags": [
          "Agents"
        ],
        "summary": "Register an agent key",
        "description": "Register a new agent key for your wallet. An agent is an Ethereum-derived keypair that can sign trading requests on your behalf without exposing your main wallet. The registration is authorized by an EIP-712 signature from the wallet that will own the agent — no session token required.\n\nEIP-712 domain: `{ name: 'NexusExchange', version: '1', chainId: <testnet chain id> }`.\nTyped data type: `RegisterAgent { address agent, uint256 expiresAt, uint256 nonce }`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRegistrationRequest"
              },
              "example": {
                "wallet": "0xAbCdEf0123456789AbCdEf0123456789AbCdEf01",
                "agent": "0x1234567890AbCdEf1234567890AbCdEf12345678",
                "expires_at": 1782000000000,
                "nonce": 1,
                "signature": "0xdeadbeef..."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent registered",
            "content": {
              "application/json": {
                "example": {
                  "agent_address": "0x1234567890AbCdEf1234567890AbCdEf12345678",
                  "expires_at": 1782000000000
                }
              }
            }
          },
          "400": {
            "description": "Bad request: bad_wallet, bad_agent, expiry_out_of_range [1 d, 90 d from now], or invalid_json"
          },
          "401": {
            "description": "signature_invalid or signer_mismatch — the EIP-712 signature did not recover to the claimed wallet"
          },
          "409": {
            "description": "duplicate_agent — the agent address is already registered to this wallet"
          }
        }
      }
    },
    "/agents": {
      "get": {
        "operationId": "listAgents",
        "tags": [
          "Agents"
        ],
        "summary": "List your agents",
        "description": "Returns all non-expired agent keys registered to the authenticated wallet.",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Array of agent records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentInfo"
                  }
                },
                "example": [
                  {
                    "address": "0x1234567890AbCdEf1234567890AbCdEf12345678",
                    "expiresAt": 1782000000000,
                    "registeredAt": 1779000000000,
                    "label": "my-bot"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "HMAC authentication required"
          }
        }
      }
    },
    "/agents/{address}": {
      "delete": {
        "operationId": "revokeAgent",
        "tags": [
          "Agents"
        ],
        "summary": "Revoke an agent",
        "description": "Immediately revoke an agent key. Any in-flight requests signed by the revoked agent will be rejected after this call returns.",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Agent address to revoke (0x-prefixed)"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent revoked"
          },
          "401": {
            "description": "HMAC authentication required"
          },
          "404": {
            "description": "Agent not found or not owned by you"
          }
        }
      }
    },
    "/ws-tokens": {
      "post": {
        "operationId": "createWsToken",
        "tags": [
          "WebSocket"
        ],
        "summary": "Mint a WebSocket token (legacy)",
        "description": "Legacy endpoint. Prefer POST /ws/token which supports both HMAC keys and registered agents. Returns a short-lived (60s), single-use token for the public /stream endpoint.",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A minted WebSocket authentication token.",
            "content": {
              "application/json": {
                "example": {
                  "token": "a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6"
                }
              }
            }
          },
          "401": {
            "description": "HMAC authentication required"
          }
        }
      }
    },
    "/ws/token": {
      "post": {
        "operationId": "createWsTokenLegacy",
        "tags": [
          "WebSocket"
        ],
        "summary": "Mint a WebSocket token",
        "description": "Returns a short-lived (60s), single-use token bound to the authenticated account. Pass it as `?token=TOKEN` when upgrading to `GET /ws`. Supports HMAC keys, registered agent keys, and session tokens (Bearer). The token encodes the account identity so per-account channels (orders, fills, positions, balances) are automatically scoped to the connected wallet.",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Token minted",
            "content": {
              "application/json": {
                "example": {
                  "token": "a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/markets": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "List all markets",
        "operationId": "fetchMarkets",
        "description": "Returns market parameters for all perpetual futures markets including tick size, lot size, margin rates, and maximum leverage.",
        "x-ccxt-method": "fetchMarkets",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Array of market parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Market"
                  }
                },
                "example": [
                  {
                    "market_id": "BTC-USDX-PERP",
                    "base_asset": "BTC",
                    "quote_asset": "USDX",
                    "tick_size": "0.5",
                    "lot_size": "0.001",
                    "min_order_size": "0.001",
                    "max_order_size": "100",
                    "initial_margin_rate": "0.05",
                    "maintenance_margin_rate": "0.025",
                    "max_leverage": 20
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/markets/summary": {
      "get": {
        "operationId": "fetchMarketsSummary",
        "tags": [
          "Markets"
        ],
        "summary": "Market summaries with volume",
        "description": "Returns last trade price, 24h volume, and trade count for all markets.",
        "security": [],
        "responses": {
          "200": {
            "description": "Volume and price summaries for all markets.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketSummary"
                  }
                },
                "example": [
                  {
                    "market_id": "BTC-USDX-PERP",
                    "last_trade_price": 48850,
                    "volume_24h": 19530020.08,
                    "trade_count": 45230
                  }
                ]
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/markets/{market_id}/ticker": {
      "get": {
        "tags": [
          "Tickers"
        ],
        "summary": "Get ticker for a market",
        "operationId": "fetchTicker",
        "x-ccxt-method": "fetchTicker",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/MarketId"
          }
        ],
        "responses": {
          "200": {
            "description": "Current ticker for the market.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ticker"
                },
                "example": {
                  "symbol": "BTC-USDX-PERP",
                  "timestamp": 1776033911836,
                  "datetime": "2026-04-12T22:45:11.836Z",
                  "high": 50500,
                  "low": 49200,
                  "bid": 50100.5,
                  "bidVolume": 1.4,
                  "ask": 50102,
                  "askVolume": 0.8,
                  "open": 49800,
                  "close": 50100,
                  "last": 50100,
                  "change": 300,
                  "percentage": 0.602,
                  "baseVolume": 1250.5,
                  "quoteVolume": 62525000,
                  "markPrice": 50101.5,
                  "indexPrice": null,
                  "info": {}
                }
              }
            }
          },
          "404": {
            "description": "Market not found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/tickers": {
      "get": {
        "tags": [
          "Tickers"
        ],
        "summary": "Get tickers for all markets",
        "operationId": "fetchTickers",
        "x-ccxt-method": "fetchTickers",
        "security": [],
        "responses": {
          "200": {
            "description": "Object keyed by market_id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/Ticker"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/markets/{market_id}/orderbook": {
      "get": {
        "tags": [
          "Order Book"
        ],
        "summary": "Get order book",
        "operationId": "fetchOrderBook",
        "x-ccxt-method": "fetchOrderBook",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/MarketId"
          }
        ],
        "responses": {
          "200": {
            "description": "Current order book for the market.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderBook"
                },
                "example": {
                  "symbol": "BTC-USDX-PERP",
                  "bids": [
                    [
                      50100.5,
                      1.4
                    ],
                    [
                      50099,
                      2.1
                    ]
                  ],
                  "asks": [
                    [
                      50102,
                      0.8
                    ],
                    [
                      50103.5,
                      1.2
                    ]
                  ],
                  "timestamp": 1776033930898,
                  "datetime": "2026-04-12T22:45:30.898Z",
                  "nonce": 1651
                }
              }
            }
          },
          "404": {
            "description": "Market not found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/markets/{market_id}/trades": {
      "get": {
        "tags": [
          "Trades"
        ],
        "summary": "Get recent trades",
        "operationId": "fetchTrades",
        "x-ccxt-method": "fetchTrades",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/MarketId"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            },
            "description": "Number of trades to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Recent trades for the market.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Trade"
                  }
                },
                "example": [
                  {
                    "id": "cf72c7f3-4c59-4d3c-85c8-99d92bc1fda7",
                    "symbol": "BTC-USDX-PERP",
                    "price": 50100.5,
                    "amount": 0.033,
                    "cost": 1653.32,
                    "side": "buy",
                    "timestamp": 1776033942331,
                    "datetime": "2026-04-12T22:45:42.331Z",
                    "takerOrMaker": null,
                    "is_liquidation": false,
                    "info": {}
                  }
                ]
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/markets/{market_id}/candles": {
      "get": {
        "tags": [
          "Candles"
        ],
        "summary": "Get OHLCV candles",
        "operationId": "fetchOHLCV",
        "x-ccxt-method": "fetchOHLCV",
        "description": "Returns candlestick data as arrays: [timestamp, open, high, low, close, volume].",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/MarketId"
          },
          {
            "name": "timeframe",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "1s",
                "1m",
                "5m",
                "1h"
              ],
              "default": "1m"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 200,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OHLCV candles for the market.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "prefixItems": [
                      {
                        "type": "integer",
                        "description": "timestamp (ms)"
                      },
                      {
                        "type": "number",
                        "description": "open"
                      },
                      {
                        "type": "number",
                        "description": "high"
                      },
                      {
                        "type": "number",
                        "description": "low"
                      },
                      {
                        "type": "number",
                        "description": "close"
                      },
                      {
                        "type": "number",
                        "description": "volume"
                      }
                    ]
                  }
                },
                "example": [
                  [
                    1776033900000,
                    48062,
                    51903,
                    44992,
                    51903,
                    27.123
                  ]
                ]
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/markets/{market_id}/funding": {
      "get": {
        "operationId": "fetchFunding",
        "tags": [
          "Funding"
        ],
        "summary": "Get funding rate history",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/MarketId"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 300,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Funding rate history for the market.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FundingSample"
                  }
                },
                "example": [
                  {
                    "timestamp": 1776033960368,
                    "funding_rate": "0.000000016",
                    "premium_index": "0.004192",
                    "mark_price": "49756.75",
                    "oracle_price": "49549.0"
                  }
                ]
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/markets/{market_id}/status": {
      "get": {
        "operationId": "fetchMarketStatus",
        "tags": [
          "Markets"
        ],
        "summary": "Get market status and halt info (v0.21)",
        "description": "Returns current market status including halt state from ADL exhaustion. Halted markets reject new orders with ExchangeError::MarketHalted.",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/MarketId"
          }
        ],
        "responses": {
          "200": {
            "description": "Market status and halt information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketStatus"
                }
              }
            }
          },
          "404": {
            "description": "Market not found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/markets/{market_id}/adl-events": {
      "get": {
        "operationId": "fetchAdlEvents",
        "tags": [
          "Markets"
        ],
        "summary": "Get ADL settlement history for a market (v0.21)",
        "description": "Returns up to `limit` ADL settlement events for the market, most recent first. Populated when the insurance fund is depleted and auto-deleveraging closes opposite-side positions to absorb bad debt.",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MarketId"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ADL settlement history for the market.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdlEventRecord"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/account/{address}/adl-history": {
      "get": {
        "operationId": "fetchAdlHistory",
        "tags": [
          "Account"
        ],
        "summary": "Get ADL events touching an account (v0.21)",
        "description": "Returns ADL settlements where the specified address was either the bankrupt target or one of the counterparties whose position was closed.",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Account address (0x-prefixed hex)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ADL events touching the account.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdlEventRecord"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/markets/{market_id}/mark-price": {
      "get": {
        "operationId": "fetchMarkPrice",
        "tags": [
          "Markets"
        ],
        "summary": "Get mark price",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/MarketId"
          }
        ],
        "responses": {
          "200": {
            "description": "Current mark price for the market.",
            "content": {
              "application/json": {
                "example": {
                  "market_id": "BTC-USDX-PERP",
                  "mark_price": "50011.60"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/markets/{market_id}/risk-params": {
      "get": {
        "operationId": "fetchMarketRiskParams",
        "tags": [
          "Markets"
        ],
        "summary": "Get market risk parameters",
        "description": "Returns per-market risk parameters including margin requirements and maximum leverage. Populated by the indexer's market_params_poller from the engine's market registry.",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/MarketId"
          }
        ],
        "responses": {
          "200": {
            "description": "Market risk parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketRiskParams"
                },
                "example": {
                  "market_id": "BTC-USDX-PERP",
                  "max_leverage": 20,
                  "initial_margin_rate": "0.05",
                  "maintenance_margin_rate": "0.025"
                }
              }
            }
          },
          "404": {
            "description": "Market not found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/orders": {
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Submit an order",
        "operationId": "createOrder",
        "x-ccxt-method": "createOrder",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              },
              "example": {
                "market_id": "BTC-USDX-PERP",
                "side": "Buy",
                "order_type": "Limit",
                "price": "50000",
                "quantity": "0.1",
                "time_in_force": "GTC"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error (insufficient margin, invalid tick size, etc.)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List open orders",
        "operationId": "fetchOpenOrders",
        "x-ccxt-method": "fetchOpenOrders",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The account's open orders.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "tags": [
          "Trading"
        ],
        "summary": "Cancel all orders",
        "operationId": "cancelAllOrders",
        "x-ccxt-method": "cancelAllOrders",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "parameters": [
          {
            "name": "market_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cancel only orders on this market"
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled orders returned"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/orders/batch": {
      "post": {
        "operationId": "createOrdersBatch",
        "tags": [
          "Trading"
        ],
        "summary": "Submit multiple orders",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OrderRequest"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Per-order results, in request order. Returned with status 201 for the batch as a whole even when individual entries failed; inspect each entry's `error`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderResult"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Submit multiple orders in one request. Orders are processed sequentially and non-atomically: an early order consuming margin can cause a later order in the same batch to fail, and per-order failures do not abort the batch. The response array preserves request order with a per-order success or error result."
      }
    },
    "/orders/{order_id}": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get order by ID",
        "operationId": "fetchOrder",
        "x-ccxt-method": "fetchOrder",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "market_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Market the order rests on (required for routing)."
          }
        ],
        "responses": {
          "200": {
            "description": "The requested order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Order not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Trading"
        ],
        "summary": "Cancel an order",
        "operationId": "cancelOrder",
        "x-ccxt-method": "cancelOrder",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "market_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Market the order rests on (required for routing)."
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled order returned"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Order not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Trading"
        ],
        "summary": "Amend an order",
        "description": "Atomic cancel-replace amend of a resting order: changes the price and/or size in a single operation. At least one of `price` or `size` must be supplied. Liquidation orders are not amendable, and a pre-trade margin check is applied to the projected replacement before it is accepted.",
        "operationId": "editOrder",
        "x-ccxt-method": "editOrder",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "market_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Market the order rests on (required for routing)."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AmendOrderRequest"
              },
              "example": {
                "price": "50100",
                "size": "0.2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Amended order (the replacement, with a fresh id).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Invalid amend (empty body, invalid price/size, order not amendable, or margin breach)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Order not found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get account summary",
        "operationId": "fetchBalance",
        "x-ccxt-method": "fetchBalance",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account summary for the authenticated caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSummary"
                },
                "example": {
                  "balance": "100000.00",
                  "collateral": "100000.00",
                  "equity": "102500.50",
                  "available_margin": "85000.00",
                  "positions": []
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/account/deposit": {
      "post": {
        "operationId": "deposit",
        "tags": [
          "Account"
        ],
        "summary": "Deposit USDX collateral",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "amount": "10000"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The deposit result.",
            "content": {
              "application/json": {
                "example": {
                  "balance": "110000.00"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/account/margin": {
      "post": {
        "operationId": "adjustMargin",
        "tags": [
          "Account"
        ],
        "summary": "Add or remove isolated margin on an open position",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "market_id": "BTC-USDX-PERP",
                "amount": "100",
                "direction": "add"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated allocated margin and account collateral after the adjustment.",
            "content": {
              "application/json": {
                "example": {
                  "market_id": "BTC-USDX-PERP",
                  "allocated_margin": "350.00",
                  "collateral": "9900.00"
                }
              }
            }
          },
          "400": {
            "description": "Invalid amount, position not in isolated mode (MarginModeNotIsolated), or removal breaches the withdrawal floor / exceeds collateral (InsufficientMargin / InsufficientBalance)."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No open position for the account in this market (NoOpenPosition)."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/account/credit": {
      "post": {
        "operationId": "credit",
        "tags": [
          "Account"
        ],
        "summary": "Claim synthetic USDX credit",
        "description": "Credit synthetic USDX to the authenticated account, up to a per-API-key daily allowance (default 500 USDX, resets at midnight UTC). `amount` is a decimal string; omit it to claim the full remaining daily allowance. Returns 429 with code `daily_limit_exceeded` once the allowance is used up, and 403 with code `credits_frozen` while crediting is administratively frozen. This is a testnet faucet: the credited USDX is synthetic and carries no real-world value.",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreditRequest"
              },
              "example": {
                "amount": "500"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credit applied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditResponse"
                },
                "example": {
                  "amount": "500",
                  "credited_today": "500",
                  "daily_limit": "500"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Crediting is administratively frozen",
            "content": {
              "application/json": {
                "example": {
                  "code": "credits_frozen",
                  "message": "USDX crediting is temporarily frozen by an administrator. Existing balances remain tradeable."
                }
              }
            }
          },
          "429": {
            "description": "Daily credit allowance exhausted (resets at midnight UTC)",
            "content": {
              "application/json": {
                "example": {
                  "code": "daily_limit_exceeded",
                  "message": "daily USDX credit allowance reached for this API key",
                  "credited_today": "500",
                  "daily_limit": "500"
                }
              }
            }
          }
        }
      }
    },
    "/account/rate-limit": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get rate limit status",
        "description": "Returns the authenticated caller's rate limit tier, effective request ceiling, remaining requests, and reset timestamp — the same data surface as the X-RateLimit-* response headers, exposed as a queryable resource. This endpoint does not consume a rate limit token, so it can be polled freely to self-manage request pacing without depleting the caller's budget. For HMAC API keys with a per-key rate, the reported values are the binding minimum of the key bucket and the owner bucket. For unlimited-tier callers (gateway keys), `limit`, `remaining`, and `reset_at_ms` are null.",
        "operationId": "fetchRateLimitStatus",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current rate-limit status for the caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitStatus"
                },
                "example": {
                  "tier": "pro",
                  "limit": 20,
                  "remaining": 17,
                  "reset_at_ms": 1765432100123
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/positions": {
      "get": {
        "tags": [
          "Positions"
        ],
        "summary": "List open positions",
        "operationId": "fetchPositions",
        "x-ccxt-method": "fetchPositions",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The account's open positions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Position"
                  }
                },
                "example": [
                  {
                    "market_id": "BTC-USDX-PERP",
                    "side": "Long",
                    "size": "0.5",
                    "entry_price": "49500.00",
                    "unrealized_pnl": "250.50",
                    "realized_pnl": "0.00",
                    "liquidation_price": "42000.00"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/fills": {
      "get": {
        "operationId": "fetchFills",
        "tags": [
          "Account"
        ],
        "summary": "List your fills",
        "description": "Returns up to 1000 fills for the authenticated account, newest first. Fills are trade executions resulting from order matches — each fill carries the matched price, quantity, fee, and whether it was the taker or maker side.",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            },
            "description": "Maximum fills to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of fills, newest first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Fill"
                  }
                },
                "example": [
                  {
                    "id": "cf72c7f3-1234-5678-abcd-ef0123456789",
                    "order_id": "ord_a1b2c3d4e5f6...",
                    "market_id": "BTC-USDX-PERP",
                    "side": "buy",
                    "price": "84250.00",
                    "size": "0.01",
                    "fee": "0.84",
                    "taker_or_maker": "taker",
                    "timestamp": 1779225381434,
                    "is_liquidation": false
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/withdrawals": {
      "get": {
        "operationId": "fetchWithdrawals",
        "tags": [
          "Account"
        ],
        "summary": "List your withdrawals",
        "description": "Returns up to 100 withdrawal records for the authenticated account, newest first.",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 100
            },
            "description": "Maximum records to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of withdrawal records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Withdrawal"
                  }
                },
                "example": [
                  {
                    "id": "wd_a1b2c3d4e5f6",
                    "amount": "500.00",
                    "timestamp": 1779225381434,
                    "status": "settled"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/ws": {
      "get": {
        "operationId": "connectWebSocket",
        "tags": [
          "WebSocket"
        ],
        "summary": "Per-account WebSocket stream",
        "description": "WebSocket endpoint for both public market data and per-account private channels. Requires a token from POST /ws/token:\n```\nwss://host/ws?token=YOUR_TOKEN\n```\nTokens are single-use and expire after 60 seconds.\n\nEvery client→server and server→client message is a JSON envelope tagged with an `op` field. Subscribe to one channel per message:\n```json\n{\"op\": \"subscribe\", \"channel\": \"trades\", \"market\": \"BTC-USDX-PERP\"}\n{\"op\": \"subscribe\", \"channel\": \"fills\"}\n```\nUnsubscribe with `{\"op\": \"unsubscribe\", \"channel\": \"...\", \"market\": \"...\"}`.\n\n**Public channels** (the token is always required to upgrade): `trades`, `book`, `candles` — each requires a `market` field.\n\n**Per-account channels** (scoped to the wallet that minted the token): `orders`, `fills`, `positions`, `balances`.\n\n**Server messages:**\n- `{\"op\": \"subscribed\", \"channel\": \"fills\", \"market\": null, \"seq_at_join\": 42}` — subscribe ack; `seq_at_join` is the channel's current sequence at attach time, used as the reconnect cursor.\n- `{\"op\": \"unsubscribed\", \"channel\": \"fills\", \"market\": null}` — unsubscribe ack.\n- `{\"op\": \"event\", \"channel\": \"fills\", \"market\": null, \"seq\": 43, \"payload\": {...}}` — a delivered event; `seq` is monotonic per channel.\n- `{\"op\": \"out_of_sync\", \"channel\": \"fills\", \"market\": null, \"oldest_seq\": 100}` — the requested `since` cursor fell behind the replay buffer; refetch state over REST and resubscribe with a fresh cursor.\n- `{\"op\": \"error\", \"message\": \"...\"}` — invalid op, unknown channel, or bad message format.\n\n**Reconnection:** tokens are single-use — mint a new one via POST /ws/token before reconnecting. To resume a channel without gaps, pass the last `seq` you received:\n```json\n{\"op\": \"subscribe\", \"channel\": \"fills\", \"since\": 42}\n```",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Short-lived token from POST /ws/token"
          }
        ],
        "responses": {
          "101": {
            "description": "Switching Protocols — WebSocket upgrade."
          }
        }
      }
    },
    "/stream": {
      "get": {
        "operationId": "connectStream",
        "tags": [
          "WebSocket"
        ],
        "summary": "Public WebSocket stream (legacy)",
        "description": "Legacy public-only WebSocket endpoint. Prefer GET /ws which also supports per-account channels. Requires a token from POST /ws-tokens. Unlike /ws, the protocol is a single untagged subscribe message listing channels:\n```json\n{\"subscribe\": [\"trades:*\", \"book:BTC-USDX-PERP\", \"stats\"]}\n```\nChannels: `trades:*` / `trades:{market_id}`, `book:*` / `book:{market_id}`, `stats`.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Short-lived token from POST /ws-tokens"
          }
        ],
        "responses": {
          "101": {
            "description": "Switching Protocols — WebSocket upgrade."
          }
        }
      }
    },
    "/admin/tiers": {
      "put": {
        "operationId": "setTier",
        "tags": [
          "Admin"
        ],
        "summary": "Set account tier",
        "description": "Assign a rate-limit tier to an address. Invalidates the existing rate-limit bucket so the new cap takes effect immediately.",
        "security": [
          {
            "adminAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "address": "0x1234...abcd",
                "tier": "MarketMaker"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated account tier.",
            "content": {
              "application/json": {
                "example": {
                  "address": "0x1234...abcd",
                  "tier": "MarketMaker"
                }
              }
            }
          },
          "403": {
            "description": "Admin secret required"
          }
        }
      },
      "get": {
        "operationId": "listTiers",
        "tags": [
          "Admin"
        ],
        "summary": "List tier overrides",
        "description": "Returns all addresses with non-default tier assignments.",
        "security": [
          {
            "adminAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The configured tier overrides.",
            "content": {
              "application/json": {
                "example": [
                  {
                    "address": "0x1234...abcd",
                    "tier": "MarketMaker"
                  }
                ]
              }
            }
          },
          "403": {
            "description": "Admin secret required"
          }
        }
      }
    },
    "/admin/tiers/{address}": {
      "delete": {
        "operationId": "deleteTier",
        "tags": [
          "Admin"
        ],
        "summary": "Reset account tier",
        "description": "Remove a tier override, reverting the address to the default Pro tier.",
        "security": [
          {
            "adminAuth": []
          }
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Ethereum address (0x-prefixed)"
          }
        ],
        "responses": {
          "200": {
            "description": "Tier removed"
          },
          "403": {
            "description": "Admin secret required"
          },
          "404": {
            "description": "Address not in allowlist"
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "health",
        "tags": [
          "Markets"
        ],
        "summary": "Health check",
        "description": "No authentication required. Used by Fly.io health checks and uptime monitors.",
        "responses": {
          "200": {
            "description": "Service health status.",
            "content": {
              "application/json": {
                "example": {
                  "events_received": 50000,
                  "fills_total": 25000,
                  "uptime_seconds": 3600,
                  "connected": true
                }
              }
            }
          }
        }
      }
    },
    "/stats": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Venue statistics",
        "description": "Aggregate venue statistics plus rolling unique-trader counts. Public — no authentication required.",
        "operationId": "fetchStats",
        "security": [],
        "responses": {
          "200": {
            "description": "Venue statistics snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsSnapshot"
                }
              }
            }
          }
        }
      }
    },
    "/stats/history": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Venue throughput history",
        "description": "Per-second throughput ring buffer (up to 3600 points). Public — no authentication required.",
        "operationId": "fetchStatsHistory",
        "security": [],
        "responses": {
          "200": {
            "description": "Throughput samples, oldest first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ThroughputSample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/status": {
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Aggregate service health",
        "description": "Aggregate health of indexer/engine/oracle/bots for status pages. Public — no authentication required.",
        "operationId": "fetchStatus",
        "security": [],
        "responses": {
          "200": {
            "description": "Service health summary.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceHealth"
                }
              }
            }
          }
        }
      }
    },
    "/markets/{market_id}/funding-samples": {
      "get": {
        "tags": [
          "Funding"
        ],
        "summary": "Funding premium-index samples",
        "description": "Dense per-tick premium-index samples (60s cadence, up to 480 points = 8h). Public — no authentication required.",
        "operationId": "fetchFundingSamples",
        "security": [],
        "parameters": [
          {
            "name": "market_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 480,
              "maximum": 480
            },
            "description": "Maximum samples to return (capped at 480)."
          }
        ],
        "responses": {
          "200": {
            "description": "Premium-index samples.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FundingSample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account/summary": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Account portfolio summary",
        "operationId": "fetchAccountSummary",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Portfolio summary.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountPortfolioSummary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/account/equity-history": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Account equity history",
        "description": "Equity time-series for the authenticated account (5s cadence, ~1h window), oldest first.",
        "operationId": "fetchEquityHistory",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 720,
              "maximum": 720
            },
            "description": "Maximum points to return (capped at 720)."
          }
        ],
        "responses": {
          "200": {
            "description": "Equity samples, oldest first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EquityPoint"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/positions/closed": {
      "get": {
        "tags": [
          "Positions"
        ],
        "summary": "List closed positions",
        "operationId": "fetchClosedPositions",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 200
            },
            "description": "Maximum records to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Closed positions, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClosedPosition"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/orders/history": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Order history",
        "description": "Terminal-status order history (filled / cancelled / rejected / expired) for the authenticated account, newest first.",
        "operationId": "fetchOrderHistory",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 500
            },
            "description": "Maximum records to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Order history, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderHistoryEntry"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/orders/preview": {
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Preview an order",
        "description": "Pre-trade preview: projects the margin/equity/fee impact of an order without submitting it.",
        "operationId": "previewOrder",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Projected pre-trade impact.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/funding": {
      "get": {
        "tags": [
          "Funding"
        ],
        "summary": "Account funding payments",
        "description": "Funding payment history for the authenticated account, newest first.",
        "operationId": "fetchAccountFunding",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            },
            "description": "Maximum records to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Funding payments, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountFunding"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/deposits": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Submit a deposit",
        "description": "Submit a (testnet/synthetic) deposit for the authenticated account.",
        "operationId": "createDeposit",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepositRequest"
              },
              "example": {
                "amount": "1000",
                "asset": "USDX"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deposit acknowledged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid amount"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List deposits",
        "operationId": "fetchDeposits",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 100
            },
            "description": "Maximum records to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Deposit ledger entries, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FundsEntry"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/faucet": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Claim testnet faucet",
        "description": "Credit a fixed testnet faucet amount of synthetic USDX to the authenticated account, subject to a per-wallet cooldown and cumulative cap.",
        "operationId": "claimFaucet",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Faucet credited.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FaucetResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Cooldown not elapsed or cumulative cap reached"
          }
        }
      }
    },
    "/api/v1/markets/summary": {
      "servers": [
        {
          "url": "https://exchange.nexus.xyz",
          "description": "Production (direct service)"
        },
        {
          "url": "http://localhost:9090",
          "description": "Local development"
        }
      ],
      "get": {
        "operationId": "fetchMarketsSummaryV1",
        "tags": [
          "Markets"
        ],
        "summary": "Market summaries with volume",
        "description": "Returns last trade price, 24h volume, and trade count for all markets.",
        "security": [],
        "responses": {
          "200": {
            "description": "Volume and price summaries for all markets.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketSummary"
                  }
                },
                "example": [
                  {
                    "market_id": "BTC-USDX-PERP",
                    "last_trade_price": 48850,
                    "volume_24h": 19530020.08,
                    "trade_count": 45230
                  }
                ]
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/markets/{market_id}/orderbook": {
      "servers": [
        {
          "url": "https://exchange.nexus.xyz",
          "description": "Production (direct service)"
        },
        {
          "url": "http://localhost:9090",
          "description": "Local development"
        }
      ],
      "get": {
        "tags": [
          "Order Book"
        ],
        "summary": "Get order book",
        "operationId": "fetchOrderBookV1",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/MarketId"
          }
        ],
        "responses": {
          "200": {
            "description": "Current order book for the market.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderBook"
                },
                "example": {
                  "symbol": "BTC-USDX-PERP",
                  "bids": [
                    [
                      50100.5,
                      1.4
                    ],
                    [
                      50099,
                      2.1
                    ]
                  ],
                  "asks": [
                    [
                      50102,
                      0.8
                    ],
                    [
                      50103.5,
                      1.2
                    ]
                  ],
                  "timestamp": 1776033930898,
                  "datetime": "2026-04-12T22:45:30.898Z",
                  "nonce": 1651
                }
              }
            }
          },
          "404": {
            "description": "Market not found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/markets/{market_id}/mark-price": {
      "servers": [
        {
          "url": "https://exchange.nexus.xyz",
          "description": "Production (direct service)"
        },
        {
          "url": "http://localhost:9090",
          "description": "Local development"
        }
      ],
      "get": {
        "operationId": "fetchMarkPriceV1",
        "tags": [
          "Markets"
        ],
        "summary": "Get mark price",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/MarketId"
          }
        ],
        "responses": {
          "200": {
            "description": "Current mark price for the market.",
            "content": {
              "application/json": {
                "example": {
                  "market_id": "BTC-USDX-PERP",
                  "mark_price": "50011.60"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/markets/{market_id}/ticker": {
      "servers": [
        {
          "url": "https://exchange.nexus.xyz",
          "description": "Production (direct service)"
        },
        {
          "url": "http://localhost:9090",
          "description": "Local development"
        }
      ],
      "get": {
        "tags": [
          "Tickers"
        ],
        "summary": "Get ticker for a market",
        "operationId": "fetchTickerV1",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/MarketId"
          }
        ],
        "responses": {
          "200": {
            "description": "Current ticker for the market.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ticker"
                },
                "example": {
                  "symbol": "BTC-USDX-PERP",
                  "timestamp": 1776033911836,
                  "datetime": "2026-04-12T22:45:11.836Z",
                  "high": 50500,
                  "low": 49200,
                  "bid": 50100.5,
                  "bidVolume": 1.4,
                  "ask": 50102,
                  "askVolume": 0.8,
                  "open": 49800,
                  "close": 50100,
                  "last": 50100,
                  "change": 300,
                  "percentage": 0.602,
                  "baseVolume": 1250.5,
                  "quoteVolume": 62525000,
                  "markPrice": 50101.5,
                  "indexPrice": null,
                  "info": {}
                }
              }
            }
          },
          "404": {
            "description": "Market not found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/markets/{market_id}/trades": {
      "servers": [
        {
          "url": "https://exchange.nexus.xyz",
          "description": "Production (direct service)"
        },
        {
          "url": "http://localhost:9090",
          "description": "Local development"
        }
      ],
      "get": {
        "tags": [
          "Trades"
        ],
        "summary": "Get recent trades",
        "operationId": "fetchTradesV1",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/MarketId"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            },
            "description": "Number of trades to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Recent trades for the market.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Trade"
                  }
                },
                "example": [
                  {
                    "id": "cf72c7f3-4c59-4d3c-85c8-99d92bc1fda7",
                    "symbol": "BTC-USDX-PERP",
                    "price": 50100.5,
                    "amount": 0.033,
                    "cost": 1653.32,
                    "side": "buy",
                    "timestamp": 1776033942331,
                    "datetime": "2026-04-12T22:45:42.331Z",
                    "takerOrMaker": null,
                    "is_liquidation": false,
                    "info": {}
                  }
                ]
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/markets/{market_id}/candles": {
      "servers": [
        {
          "url": "https://exchange.nexus.xyz",
          "description": "Production (direct service)"
        },
        {
          "url": "http://localhost:9090",
          "description": "Local development"
        }
      ],
      "get": {
        "tags": [
          "Candles"
        ],
        "summary": "Get OHLCV candles",
        "operationId": "fetchOHLCVV1",
        "description": "Returns candlestick data as arrays: [timestamp, open, high, low, close, volume].",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/MarketId"
          },
          {
            "name": "timeframe",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "1s",
                "1m",
                "5m",
                "1h"
              ],
              "default": "1m"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 200,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OHLCV candles for the market.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "prefixItems": [
                      {
                        "type": "integer",
                        "description": "timestamp (ms)"
                      },
                      {
                        "type": "number",
                        "description": "open"
                      },
                      {
                        "type": "number",
                        "description": "high"
                      },
                      {
                        "type": "number",
                        "description": "low"
                      },
                      {
                        "type": "number",
                        "description": "close"
                      },
                      {
                        "type": "number",
                        "description": "volume"
                      }
                    ]
                  }
                },
                "example": [
                  [
                    1776033900000,
                    48062,
                    51903,
                    44992,
                    51903,
                    27.123
                  ]
                ]
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/markets/{market_id}/funding": {
      "servers": [
        {
          "url": "https://exchange.nexus.xyz",
          "description": "Production (direct service)"
        },
        {
          "url": "http://localhost:9090",
          "description": "Local development"
        }
      ],
      "get": {
        "operationId": "fetchFundingV1",
        "tags": [
          "Funding"
        ],
        "summary": "Get funding rate history",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/MarketId"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 300,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Funding rate history for the market.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FundingSample"
                  }
                },
                "example": [
                  {
                    "timestamp": 1776033960368,
                    "funding_rate": "0.000000016",
                    "premium_index": "0.004192",
                    "mark_price": "49756.75",
                    "oracle_price": "49549.0"
                  }
                ]
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/markets/{market_id}/funding-samples": {
      "servers": [
        {
          "url": "https://exchange.nexus.xyz",
          "description": "Production (direct service)"
        },
        {
          "url": "http://localhost:9090",
          "description": "Local development"
        }
      ],
      "get": {
        "tags": [
          "Funding"
        ],
        "summary": "Funding premium-index samples",
        "description": "Dense per-tick premium-index samples (60s cadence, up to 480 points = 8h). Public — no authentication required.",
        "operationId": "fetchFundingSamplesV1",
        "security": [],
        "parameters": [
          {
            "name": "market_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 480,
              "maximum": 480
            },
            "description": "Maximum samples to return (capped at 480)."
          }
        ],
        "responses": {
          "200": {
            "description": "Premium-index samples.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FundingSample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/markets/{market_id}/status": {
      "servers": [
        {
          "url": "https://exchange.nexus.xyz",
          "description": "Production (direct service)"
        },
        {
          "url": "http://localhost:9090",
          "description": "Local development"
        }
      ],
      "get": {
        "operationId": "fetchMarketStatusV1",
        "tags": [
          "Markets"
        ],
        "summary": "Get market status and halt info (v0.21)",
        "description": "Returns current market status including halt state from ADL exhaustion. Halted markets reject new orders with ExchangeError::MarketHalted.",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/MarketId"
          }
        ],
        "responses": {
          "200": {
            "description": "Market status and halt information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketStatus"
                }
              }
            }
          },
          "404": {
            "description": "Market not found"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/tickers": {
      "servers": [
        {
          "url": "https://exchange.nexus.xyz",
          "description": "Production (direct service)"
        },
        {
          "url": "http://localhost:9090",
          "description": "Local development"
        }
      ],
      "get": {
        "tags": [
          "Tickers"
        ],
        "summary": "Get tickers for all markets",
        "operationId": "fetchTickersV1",
        "security": [],
        "responses": {
          "200": {
            "description": "Object keyed by market_id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/Ticker"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/stats": {
      "servers": [
        {
          "url": "https://exchange.nexus.xyz",
          "description": "Production (direct service)"
        },
        {
          "url": "http://localhost:9090",
          "description": "Local development"
        }
      ],
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Venue statistics",
        "description": "Aggregate venue statistics plus rolling unique-trader counts. Public — no authentication required.",
        "operationId": "fetchStatsV1",
        "security": [],
        "responses": {
          "200": {
            "description": "Venue statistics snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsSnapshot"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/stats/history": {
      "servers": [
        {
          "url": "https://exchange.nexus.xyz",
          "description": "Production (direct service)"
        },
        {
          "url": "http://localhost:9090",
          "description": "Local development"
        }
      ],
      "get": {
        "tags": [
          "Markets"
        ],
        "summary": "Venue throughput history",
        "description": "Per-second throughput ring buffer (up to 3600 points). Public — no authentication required.",
        "operationId": "fetchStatsHistoryV1",
        "security": [],
        "responses": {
          "200": {
            "description": "Throughput samples, oldest first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ThroughputSample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/orders": {
      "servers": [
        {
          "url": "https://exchange.nexus.xyz",
          "description": "Production (direct service)"
        },
        {
          "url": "http://localhost:9090",
          "description": "Local development"
        }
      ],
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Submit an order",
        "operationId": "createOrderV1",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              },
              "example": {
                "market_id": "BTC-USDX-PERP",
                "side": "Buy",
                "order_type": "Limit",
                "price": "50000",
                "quantity": "0.1",
                "time_in_force": "GTC"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error (insufficient margin, invalid tick size, etc.)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List open orders",
        "operationId": "fetchOpenOrdersV1",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The account's open orders.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "tags": [
          "Trading"
        ],
        "summary": "Cancel all orders",
        "operationId": "cancelAllOrdersV1",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "parameters": [
          {
            "name": "market_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cancel only orders on this market"
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled orders returned"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/orders/batch": {
      "servers": [
        {
          "url": "https://exchange.nexus.xyz",
          "description": "Production (direct service)"
        },
        {
          "url": "http://localhost:9090",
          "description": "Local development"
        }
      ],
      "post": {
        "operationId": "createOrdersBatchV1",
        "tags": [
          "Trading"
        ],
        "summary": "Submit multiple orders",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OrderRequest"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Per-order results, in request order. Returned with status 201 for the batch as a whole even when individual entries failed; inspect each entry's `error`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderResult"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Submit multiple orders in one request. Orders are processed sequentially and non-atomically: an early order consuming margin can cause a later order in the same batch to fail, and per-order failures do not abort the batch. The response array preserves request order with a per-order success or error result."
      }
    },
    "/api/v1/orders/preview": {
      "servers": [
        {
          "url": "https://exchange.nexus.xyz",
          "description": "Production (direct service)"
        },
        {
          "url": "http://localhost:9090",
          "description": "Local development"
        }
      ],
      "post": {
        "tags": [
          "Trading"
        ],
        "summary": "Preview an order",
        "description": "Pre-trade preview: projects the margin/equity/fee impact of an order without submitting it.",
        "operationId": "previewOrderV1",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Projected pre-trade impact.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/orders/{order_id}": {
      "servers": [
        {
          "url": "https://exchange.nexus.xyz",
          "description": "Production (direct service)"
        },
        {
          "url": "http://localhost:9090",
          "description": "Local development"
        }
      ],
      "delete": {
        "tags": [
          "Trading"
        ],
        "summary": "Cancel an order",
        "operationId": "cancelOrderV1",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "market_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Market the order rests on (required for routing)."
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled order returned"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Order not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Trading"
        ],
        "summary": "Amend an order",
        "description": "Atomic cancel-replace amend of a resting order: changes the price and/or size in a single operation. At least one of `price` or `size` must be supplied. Liquidation orders are not amendable, and a pre-trade margin check is applied to the projected replacement before it is accepted.",
        "operationId": "editOrderV1",
        "security": [
          {
            "hmacAuth": []
          }
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "market_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Market the order rests on (required for routing)."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
[...]
